@use "vars" as *;

/*****************************
************BUTTONS***********
*****************************/
.arrow-link,
a.arrow-link,
.wp-block-file a,
.wp-block-button a {
	display: inline;
	padding: 0 0.8em 0 0;
	background: transparent;
	background-size: auto 0.8em;
	background-position: right .25em;
	background-repeat: no-repeat;
	background-image: url(images/right-arrow-blue.svg);
	color: $blue;
	@include sm-text;
	@include caps-text;
	&, &:focus, &:hover, &:visited {
		color: $blue;
	}
}

a.arrow-link.back {
	padding: 0 0 0 0.8em;
	background-position: left .25em;
	background-image: url(images/left-arrow-blue.svg);
}

.icons {
	a {
		margin: 0 1rem 0 0;
	}
	.justify-content-end a,
	.justify-content-sm-end a {
		margin: 0 0 0 1rem;
	}
	img {
		width: auto;
		height: 2rem;
	}
}

button {
	border: 0;
	background: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	&[aria-expanded="true"] .show,
	&[aria-expanded="false"] .hide {
		display: none;
	}
}

.button, .button:hover, .button:focus, .button:visited {
	display: table;
	padding: 1rem;
	margin: 0;
	background-color: $blue;
	color: white;
	text-align: center;
	font-weight: 500;
	border: none;
	@include xs-text;
	@include caps-text;
}
form button {
	width: 100%;
}

input[type="text"], input[type="email"] {
	width: 100%;
	padding: .75rem;
	border: 1px solid $light;
	border-radius: 0;
	font-family: inherit;
	font-color: inherit;
	&::placeholder {
		color: rgba($dark, .4);
	}
}

/*****************************
************SELECT************
*****************************/

.select-dropdown {
	width: 100%;
	position: relative;
	label {
		width: 100%;
		height: 100%;
		padding: .5rem 2rem .5rem .5rem;
		margin: 0;
		position: absolute;
		left: 0;
		top: 0;
		display: table;
		background-color: $dark;
		color: white;
		font-weight: 500;
		@include sm-text;
		@include caps-text;
		pointer-events: none;
		&::after {
			content: "";
			width: 2rem;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background-size: .5rem;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(images/down-arrow-white.svg);
		}
	}
	select {
		width: 100%;
		padding: .5rem;
		background-color: $dark;
		color: white;
		cursor: pointer;
		@include sm-text;
	}
	option {

	}
}


/*****************************
************FILTER************
*****************************/

#loop-filter {
	display: flex;
	justify-content: center;
	align-content: space-evenly;
	margin-bottom: 4rem;
	flex-wrap: wrap;
	.select-dropdown {
		@include sm {
			margin-top: .5rem;
		}
	}
}

#filter-notice {
	&[aria-hidden="true"] {
		opacity: 0;
		pointer-events: none;
	}
}

#filter-reset {
	display: table;
	float: right;
	cursor: pointer;
}

#loop {
	transition: opacity 500ms ease-in-out;
	&.loading {
		opacity: .25;
	}
}


/*****************************
***********SLIDESHOW**********
*****************************/

.slideshow {
	width: 100%;
	position: relative;
}

.slideshow-arrows {

}

.slideshow-arrow {
	width: 1rem;
	height: 2rem;
	position: absolute;
	top: calc(50% - 1rem);
	background-size: auto 1.5rem;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	&[data-direction="prev"] {
		background-image: url(images/left-arrow-black.svg);
		left: -3rem;
	}
	&[data-direction="next"] {
		background-image: url(images/right-arrow-black.svg);
		right: -3rem;
	}
}

.slides-wrapper {
	width: 100%;
	position: relative;
}

.slide {
	width: 100%;
	display: none;
	figure {
		margin: 0;
	}
	&.media {
		figcaption {
			display: none;
		}
		img {
			width: 100%;
		}
	}
	&.caption {
		margin-top: .5rem;
		@include xs-text;
	}
	&.active {
		display: block;
	}
}



/*****************************
*************VIDEO************
*****************************/

figure.wp-block-video {
	position: relative;
	background: $light;
	video {
		cursor: pointer;
	}
	&::after {
		content: "";
		width: 5rem;
		height: 5rem;
		display: block;
		position: absolute;
		left: calc(50% - 2.5rem);
		top: calc(50% - 2.5rem);
		background-image: url(images/play.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: opacity 200ms ease-in-out;
		pointer-events: none;
	}
	&.playing::after {
		opacity: 0;
		background-image: url(images/pause.svg);
		&:hover {
			opacity: 1;
		}
	}
	&.playing:hover::after {
		opacity: 1;
	}
}

