@use "vars" as *;
@use "sass:list";

/*****************************
*************ABOUT************
*****************************/

body.page-template-page-about {
	.cover {
		@include navSpace(min-height);
		@include sm {
			padding-top: 0;
		}
	}
	.wp-block-video {
		width: 183.33%;
		margin-left: -41.666%;
		@include md {
			width: 150%;
			margin-left: -25%;
		}
		@include sm {
			width: 100%;
			margin-left: 0;
		}
	}
}

.container#funders {
	.row {
		justify-content: center;
	}
	.thumb-image {
		background-color: white;
		background-size: contain;
	}
}

.container#pov {
	.row {
		justify-content: center;
		align-content: space-between;
	}
}

#home-video-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 3.5em;
  background-image: url(images/play-white.svg);
  background-position: 0.7em center;
  background-repeat: no-repeat;
  background-size: 2em;
  line-height: 1em;
}
.playing > #home-video-button {
  background-image: url(images/pause-white.svg);
}

/*****************************
********LOCAL STORIES*********
*****************************/

#cover-local-stories {
	flex-direction: column;
	.cover-image {
		height: 200vh;
		background-size: 70% auto;
		background-position: left top;
		&::after {
			content: '';
			width: 100%;
		}
	}
	.highlight-text {
		@include md {
			margin-bottom: 4rem;
		}
		@include sm {
			margin-bottom: auto;
			margin-top: 4rem;
		}
	}
	.upcoming-hosts {
		position: relative;
		.thumb {
			margin-bottom: 0;
		}
		.thumb-content {
			padding: .75rem .5rem .5rem .5rem;
		}
	}
	.hn-button {
		position: static !important;
	}
}

.page-template-page-local-stories {
	#content ol.row {
		background-color: white;
	}
}

/*****************************
**********LOCAL STORY*********
*****************************/

#cover-story {
	.cover-header {
		@include md {
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}
	}
}
#story-map {
	position: relative;
	display: flex;
}
#story-map-base {
	position: relative;
	user-select: none;
	img {
		width: 100%;
		display: block;
	}
	svg {
		position: absolute;
		left: 0;
		top: 0;
		g {
			cursor: pointer;
			fill: transparent;
		}
		circle {
			fill: transparent;
		}
	}
}
#story-map-panel {

}
.marker-panel {
	width: 100%;
	height: 100%;
	display: none;
	background-color: $light;
	&.open {
		display: flex;
	}
	.slideshow {
		display: flex;
		flex-direction: column;
	}
	.slides-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.slideshow-arrows {
		width: 100%;
		height: 3rem;
		position: relative;
		margin-top: auto;
		@include md {
			height: 6rem;
		}
	}
	.slideshow-arrow {
		&[data-direction="prev"] {
			left: 1rem;
		}
		&[data-direction="next"] {
			right: 1rem;
		}
	}
	.marker {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		left: calc(50% - .75rem);
		top: calc(50% - .75rem);
		color: #F04600;
		border: 1px solid #F04600;
		border-radius: 50%;
		display: flex;
		text-align: center;
		span {
			margin: auto;
			@include sm-text;
		}
	}
	.caption {
		padding: 0 1rem 1rem 1rem;
	}
}

/*****************************
********HAPPENING NOW*********
*****************************/


//NEEDS FIXING
#cover-happening-now .cover-card {
	@include headerSpaceCalc(margin-top);
}

/*****************************
***********HAPPENING**********
*****************************/

.single-happening {
	.cover-card {
		padding-top: calc(50vh - #{$headerSpace});
	}
}

#cover-happening .cover-card {
	padding-top: 25%;
	@include sm {
		padding-left: 0.8rem !important;
		padding-right: 0.8rem !important;
	}
	@include md {
		padding-top: 0;
		padding-left: 1.6rem !important;
		padding-right: 1.6rem !important;
	}
}

/*****************************
******TAKE LOCAL ACTION*******
*****************************/

.page-template-page-take-action,
.page-template-page-act,
.page-template-page-sense,
.page-template-page-design {
	.highlight-text {
		height: auto;
		margin-top: 6rem;
	}
	#loop-filter {
		display: table;
		margin: auto;
	}
	#loop {
		img {
			width: 100%;
		}
	}
}

.action-tab-button {
	&, &:hover, &:visited, &:focus {
		color: white;
	}
	img {
		width: 90%;
		max-width: 15rem;
		margin: auto;
		display: block;
		@include md {
			width: 100%;
			max-width: unset;
		}
	}
}

.action-tab-content {
	display: none;
	&.active {
		display: block;
	}
	.select-dropdown {
		max-width: 13rem;
	}
}

#respond {
	display: none;
}

/*****************************
*******SENSE YOUR PLACE*******
*****************************/

.sense-marker,
.sense-button {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 2px solid $blue;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	&[data-sense="hear"] {
		background-image: url(images/sense-hear.svg);
	}
	&[data-sense="see"] {
		background-image: url(images/sense-see.svg);
	}
	&[data-sense="smell"] {
		background-image: url(images/sense-smell.svg);
	}
	&[data-sense="taste"] {
		background-image: url(images/sense-taste.svg);
	}
	&[data-sense="touch"] {
		background-image: url(images/sense-touch.svg);
	}
}

#sense-map {
	position: relative;
	background-color: $blue;
	overflow: hidden;
	user-select: none;
	& > img {
		width: 100%;
		height: auto;
		mix-blend-mode: difference;
		z-index: 1;
		pointer-events: none;
	}
}

.sense-marker {
	position: absolute;
	z-index: 3;
	cursor: pointer;
}
#user-marker {
	left: calc(50% - 1.5rem);
	top: calc(50% - 1.5rem);
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	pointer-events: none;
	&.placed {
		pointer-events: all;
	}
	&.show {
		opacity: 1;
	}
}

.sense-map-prompt {
	position: absolute;
	left: .5rem;
	top: .5rem;
	z-index: 999;
	color: white;
	pointer-events: none;
}

#sense-form {
	background-color: $light;
	transition: opacity 200ms ease-in-out;
	&.disabled {
		opacity: .5;
		pointer-events: none;
	}
	textarea {
		width: 100%;
		background-color: transparent;
		border: 0;
		padding: .5rem;
		@include sm-text;
		&::placeholder {
			color: $dark-alpha;
			@include xs-text;
		}
	}
	input {
		width: 100%;
	}
}
.senses-select {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.sense-button {
	cursor: pointer;
	margin: 1rem .25rem;
	&[aria-checked="true"] {
		opacity: .5;
	}
}

/*****************************
*******LEARNING TOGETHER******
*****************************/

nav#nav-page {
	margin: 1.5rem 0;
	ul {
		justify-content: center;
		flex-wrap: wrap;
	}
	li {
		margin: .5rem 2rem .5rem 0;
		margin-right: 2rem;
		&:last-child {
			margin-right: 0;
		}
	}
}


/*****************************
*****EVENTS & EXHIBITIONS*****
*****************************/

body.page-template-page-calendar {
	#loop {
		border-bottom: 1px solid $dark;
	}
	.event.past {
		opacity: .5;
	}
	&:not(.show-past) .event.past {
		display: none;
	}
}

#cover-calendar {
	.square-text {
		@include md {
			display: none;
		}
	}
	.max-square {
		width: 100%;
		max-width: 250px;
		max-height: 250px;
		float: right;
	}
}

#toggle-past-button {
	display: table;
	margin: auto;
	padding: .5rem;
	cursor: pointer;
	position: relative;
	.hide {
		padding-left: 2rem;
		&::before {
			content: "";
			width: 1.25rem;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-image: url(images/close-blue.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 1.25rem;
		}
	}
	body.hide-past &::before {
		transform: rotate(45deg);
	}
}