@use "vars" as *;
@use "sass:list";


#cover {
	width: 100%;
	min-height: calc(100vh - 6.5rem);
	display: flex;
	position: relative;
	.highlight-text {
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		div {
			max-width: 40rem;
			margin: auto 5rem auto auto;
			padding-top: 5rem;
		}
		p {
			display: inline;
			background-color: white;
			box-shadow: 10px 0 0 white, -10px 0 0 white;
			color: $blue;
			@include xl-text;
			line-height: 1.3em;
		}
	}
}

#cover-image {
	width: 100vw;
	height: calc(100vh - 6.5rem);
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#cover-card {
	width: 100%;
	padding-top: 10rem;
  margin-top: auto;
  .row {
		justify-content: center;
  }
  .single-happening & {
		padding-top: calc(50vh);
	}
}
#cover-header {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 1rem;
	background-color: rgba(white, .9);
}
#cover-content {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
}

// #cover-toggle {
// 	width: 100%;
// 	height: 2rem;
// 	margin-top: 1rem;
// 	background-size: 2rem;
// 	background-position: center bottom;
// 	background-repeat: no-repeat;
// 	background-image: url(images/down-arrow.svg);
// 	.expand-cover & {
// 		transform: rotate(180deg);
// 	}
// 	&:hover {
// 		cursor: pointer;
// 	}
// }


/*****************************
*************ABOUT************
*****************************/

.container#funders {
	.row {
		justify-content: center;
	}
	.thumb-image {
		background-color: white;
		background-size: contain;
	}
}

.container#pov {
	.row {
		justify-content: center;
		align-content: space-between;
	}
}

.col-quote {
	margin: 0 auto;
	padding-left: 3.5rem;
	blockquote {
		font-weight: 800;
		position: relative;
		&::before, &::after {
			content: "";
			width: 2rem;
			height: 2rem;
			position: absolute;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&::before {
			left: -2.5rem;
	    top: -.5rem;
			background-image: url(images/quote-l.svg);
		}
		&::after {
			display: inline-block;
			margin-left: .5rem;
			background-image: url(images/quote-r.svg);
		}
	}
}


/*****************************
*******LEARNING TOGETHER******
*****************************/

nav#nav-page {
	margin: 2rem 0;
	ul {
		justify-content: center;
	}
	li {
		margin-right: 2rem;
		&:last-child {
			margin-right: 0;
		}
	}
}