@use "vars" as *;
@use "sass:list";

.xs-text {
	@include xs-text;
}
.sm-text {
	@include sm-text;
}
.md-text {
	@include md-text;
}
.lg-text {
	@include lg-text;
}
.xl-text {
	@include xl-text;
}

.caps-text {
	@include caps-text;
}

.bold-text {
	font-weight: 900;
}

.blue-text, .blue-text:hover, .blue-text:focus, .blue-text:visited {
	color: $blue !important;
}

.white-text, .white-text:hover, .white-text:focus, .white-text:visited {
	color: white !important;
}

.white-bg {
	background-color: white;
}

.light-bg {
	background-color: $light !important;
	padding: .3rem .5rem .25rem .5rem;
}

.medium-bg {
	background-color: $medium;
}

.dark-bg {
	background-color: $dark;
}

.white-alpha-bg {
	background-color: $white-alpha;
}

.light-alpha-bg {
	background-color: $light-alpha;
}

.medium-alpha-bg {
	background-color: $medium-alpha;
}

.blue-bg {
	background-color: $blue !important;
}


.mt-auto {
	margin-top: auto;
}
.mb-auto {
	margin-bottom: auto;
}
.mr-auto {
	margin-right: auto;
}
.ml-auto {
	margin-left: auto;
}

@each $size, $space in $spaces {
	@include spaceClass("m", "margin", "t", "top", $size, $space);
	@include spaceClass("m", "margin", "b", "bottom", $size, $space);
	@include spaceClass("m", "margin", "r", "right", $size, $space);
	@include spaceClass("m", "margin", "l", "left", $size, $space);
	@include spaceClass("p", "padding", "t", "top", $size, $space);
	@include spaceClass("p", "padding", "b", "bottom", $size, $space);
	@include spaceClass("p", "padding", "r", "right", $size, $space);
	@include spaceClass("p", "padding", "l", "left", $size, $space);
}