//////////////////////////////
////////////COLORS////////////
//////////////////////////////

$light: #F5F5F5;
$medium: #414242;
$dark: #1D2224;

$white-alpha: rgba(white, .9);
$light-alpha: rgba($light, .9);
$medium-alpha: rgba($medium, .05);
$dark-alpha: rgba($dark, .95);

$blue: #0097E2;
$green: #00A14C;
$gold: #CF9808;
$orange: #F04600;

//////////////////////////////
/////////////SPACES///////////
//////////////////////////////

$spaces: (
	"xs": .25rem,
	"sm": .5rem,
	"md": 1rem,
	"lg": 1.5rem,
	"xl": 2rem,
	"xxl": 4rem,
);

@mixin spaceClass($p, $property, $s, $side, $size, $space) {
	.#{$p}#{$s}-#{$size} {
		#{$property}-#{$side}: $space;
	}
}

//////////////////////////////
//////////FONT SIZES//////////
//////////////////////////////

$base-fs: 18px;

$xs-fs: .68rem; //12px
$sm-fs: .87rem; //16px
$md-fs: 1.35rem; //24px
$lg-fs: 1.55rem; //28px
$xl-fs: 2.55rem; //46px

@mixin base-fs {
	// font-size: $base-fs;
	// @include xl {
	// 	font-size: $base-fs;
	// }
	font-size: $base-fs;
	@include xl {
		font-size: 16px;
	}
	@include lg {
		font-size: 14px;
	}
	@include sm {
		// font-size: 11px;	
	}
	@include xs {
		
	}
}

@mixin base-text {
	@include base-fs;
	line-height: 1.3em;
	font-weight: 400;
}

@mixin xs-text {
	font-size: $xs-fs;
	line-height: 1.3em;
	font-weight: 400;
	@include sm {
		font-size: $sm-fs;
	}
}

@mixin sm-text {
	font-size: $sm-fs;
	line-height: 1.3em;
	font-weight: 200;
}

@mixin md-text {
	font-size: $md-fs;
	line-height: 1.3em;
	font-weight: 200;
	letter-spacing: .05em;
}

@mixin lg-text {
	font-size: $lg-fs;
	line-height: 1.3em;
	font-weight: 200;
	letter-spacing: .05em;
}

@mixin xl-text {
	font-size: $xl-fs;
	line-height: 1.3em;
	font-weight: 200;
	letter-spacing: .05em;
}

@mixin caps-text {
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: 500;
}

//////////////////////////////
////////MEDIA QUERIES/////////
//////////////////////////////


@mixin xl {
	@media only screen and (max-width: 1440px) {
	  @content;
	}
}

@mixin lg-up {
	@media only screen and (min-width: 1200px) {
	  @content;
	}
}

@mixin lg {
	@media only screen and (max-width: 1200px) {
	  @content;
	}
}

@mixin md {
	@media only screen and (max-width: 992px) {
	  @content;
	}
}

@mixin sm {
	@media only screen and (max-width: 768px) {
	  @content;
	}
}

@mixin xs {
	@media only screen and (max-width: 576px) {
	  @content;
	}
}

//////////////////////////////
////////HEADER SPACES/////////
//////////////////////////////

$headerSpace: 7rem;
$navSpace: 5rem;
$navSpaceSm: 2.5rem;
$fullHeaderSpace: #{$headerSpace + $navSpace};
$fullHeaderSpaceSm: #{$headerSpace + $navSpaceSm};

@mixin headerSpace($property) {
	#{$property}: $headerSpace;
}

@mixin navSpace($property) {
	#{$property}: $navSpace;
}

@mixin fullHeaderSpace($property) {
	#{$property}: $fullHeaderSpace;
	@include md {
		#{$property}: $fullHeaderSpaceSm;
	}
}

@mixin navSpaceCalc($property) {
	#{$property}: calc(100vh - #{$navSpace});
	@include md {
		#{$property}: calc(90vw - #{$navSpace});
	}
	@include sm {
		#{$property}: calc(100vw - #{$navSpace});
	}
}

@mixin headerSpaceCalc($property) {
	#{$property}: calc(100vh - #{$headerSpace});
	@include md {
		#{$property}: calc(90vw - #{$headerSpace});
	}
	@include sm {
		#{$property}: calc(100vw - #{$headerSpace});
	}
}

@mixin fullHeaderSpaceCalc($property) {
	#{$property}: calc(100vh - #{$fullHeaderSpace});
	@include md {
		#{$property}: calc(90vw - #{$headerSpace});
	}
	@include sm {
		#{$property}: calc(100vw - #{$headerSpace});
	}
}

.mt-nav {
	margin-top: $navSpace !important;
}
.mb-nav {
	margin-bottom: $navSpace !important;
}

.pt-nav {
	padding-top: $navSpace !important;
}
.pb-nav {
	padding-bottom: $navSpace !important;
}
